.fileMenuOption {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: start;
  align-items: center;
  padding: 5px 6px;
}

.activeBg {
  background-color: #12141d;
  width: 100%;
}

.inactiveBg {
  cursor: pointer;
  background-color: transparent;
  width: 100%;
}
