.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  justify-content: flex-end;
}

.linesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linesCount {
  color: white;
}

.iconAndCount {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.metricLabel {
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 420px) {
  .container {
    scale: 0.8;
  }
}
